<!-- page that contains the input form -->
{% extends "base.html" %}
{% block content %}
<h2>Recommend a Game</h2>

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

<form method="POST">

<div>
<label for="game_name">Game Name *:</label>
<input type="text" id="game_name" name="game_name" required>
</div>

<div>
<label for="platform">Platform *:</label>
<input type="text" id="platform" name="platform" required>
</div>

<div>
<label for="comments">Comments:</label>
<textarea id="comments" name="comments" rows="4"></textarea>
</div>

<div>
<label for="multiplayer">Is it Multiplayer?</label>
<input type="checkbox" id="multiplayer" name="multiplayer" value="yes">
</div>

<button type="submit">Submit</button>
</form>
{% endblock %}
